# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
# CIFAR-10 dataset
cifar-10-batches-py/
cifar-10-python.tar.gz
# Experimental model
src/models/best_cnn_model.keras